In [1]:
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)

In [13]:
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
salaries = pd.Series([200, 300, 400, 200], ['Ann', 'Cat', 'Nat', 'John'])

In [5]:
print(salaries)

Ann     200
Cat     300
Nat     400
John    200
dtype: int64

In [7]:
salaries['John'] = 400

In [8]:
salaries[salaries > 250]

Cat     300
Nat     400
John    400
dtype: int64

In [9]:
salaries['Carl'] = np.nan

In [10]:
print(salaries)

Ann     200.0
Cat     300.0
Nat     400.0
John    400.0
Carl      NaN
dtype: float64

In [11]:
salaries.fillna(salaries.median(), inplace = True)

In [12]:
salaries

Ann     200.0
Cat     300.0
Nat     400.0
John    400.0
Carl    350.0
dtype: float64

In [13]:
print('Second element of salaries is', salaries[1], '\n')

Second element of salaries is 300.0

In [14]:
print(salaries[:3])

Ann    200.0
Cat    300.0
Nat    400.0
dtype: float64

In [16]:
print('The are', len(salaries[salaries > 0]), 'positive elements salaries')

The are 5 positive elements salaries

In [1]:
###Создание и изменение

In [7]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [27]:
df1 = pd.DataFrame(np.random.rand(5, 3),
                  index=['o1', 'p2', 'o3', 'o4', 'o5'],
                  columns=['f1', 'f2', 'f3'])

In [12]:
df1

          f1        f2        f3
o1  0.894751  0.927586  0.099937
p2  0.879149  0.378475  0.718376
o3  0.045314  0.828899  0.069449
o4  0.711257  0.327202  0.250535
o5  0.363345  0.854274  0.170050

In [15]:
>>> np.arange(10, 30, 5)

array([10, 15, 20, 25])

In [19]:
np.arange(5)> 1

array([False, False,  True,  True,  True])

In [21]:
np.set_printoptions(threshold=np.nan)

In [14]:
df2 = pd.DataFrame({'A': np.random.random(5), 
                    'B': ['a', 'b', 'c', 'd', 'e'], 
                    'C': np.arange(5) > 2})

In [17]:
print('The element in position 3, B is', df2.at[3, 'B'], '\n')

The element in position 3, B is d

In [18]:
df2.loc[[1,3], ['A', 'B']]

          A  B
1  0.898923  b
3  0.454110  d

In [19]:
df2.at[2, 'B'] = 'f'

In [20]:
df2

          A  B      C
0  0.894989  a  False
1  0.898923  b  False
2  0.562303  f  False
3  0.454110  d   True
4  0.154408  e   True

In [23]:
df1.columns = ['A', 'B', 'C']

NameError: name 'df1' is not defined

In [25]:
df2.columns

Index(['A', 'B', 'C'], dtype='object')

In [28]:
df1

          f1        f2        f3
o1  0.132992  0.426586  0.410334
p2  0.857315  0.824847  0.550414
o3  0.293035  0.346039  0.159089
o4  0.250215  0.417211  0.182017
o5  0.998206  0.521716  0.821056

In [29]:
df1.columns = ['A', 'B', 'C']

In [30]:
df1

           A         B         C
o1  0.132992  0.426586  0.410334
p2  0.857315  0.824847  0.550414
o3  0.293035  0.346039  0.159089
o4  0.250215  0.417211  0.182017
o5  0.998206  0.521716  0.821056

In [32]:
df1.index = ['x', 'y', 'z', 'v', 'u']

In [33]:
df1.append(df2)

          A         B         C
x  0.132992  0.426586  0.410334
y  0.857315  0.824847  0.550414
z  0.293035  0.346039  0.159089
v  0.250215  0.417211  0.182017
u  0.998206  0.521716  0.821056
0  0.894989         a  0.000000
1  0.898923         b  0.000000
2  0.562303         f  0.000000
3  0.454110         d  1.000000
4  0.154408         e  1.000000

In [42]:
df1.loc[2, 3]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [43]:
df1

          A         B         C
x  0.132992  0.426586  0.410334
y  0.857315  0.824847  0.550414
z  0.293035  0.346039  0.159089
v  0.250215  0.417211  0.182017
u  0.998206  0.521716  0.821056

In [47]:
df1.iloc[:4,:2]

          A         B
x  0.132992  0.426586
y  0.857315  0.824847
z  0.293035  0.346039
v  0.250215  0.417211

In [48]:
df1.append(df2)

          A         B         C
x  0.132992  0.426586  0.410334
y  0.857315  0.824847  0.550414
z  0.293035  0.346039  0.159089
v  0.250215  0.417211  0.182017
u  0.998206  0.521716  0.821056
0  0.894989         a  0.000000
1  0.898923         b  0.000000
2  0.562303         f  0.000000
3  0.454110         d  1.000000
4  0.154408         e  1.000000

In [49]:
df1.at['o2', 'A'] = np.nan
df1.at['o4', 'C'] = np.nan

In [50]:
df1

           A         B         C
x   0.132992  0.426586  0.410334
y   0.857315  0.824847  0.550414
z   0.293035  0.346039  0.159089
v   0.250215  0.417211  0.182017
u   0.998206  0.521716  0.821056
o2       NaN       NaN       NaN
o4       NaN       NaN       NaN

In [51]:
pd.isnull(df1)

        A      B      C
x   False  False  False
y   False  False  False
z   False  False  False
v   False  False  False
u   False  False  False
o2   True   True   True
o4   True   True   True

In [52]:
df1.dropna(how='any')

          A         B         C
x  0.132992  0.426586  0.410334
y  0.857315  0.824847  0.550414
z  0.293035  0.346039  0.159089
v  0.250215  0.417211  0.182017
u  0.998206  0.521716  0.821056

In [53]:
df1

           A         B         C
x   0.132992  0.426586  0.410334
y   0.857315  0.824847  0.550414
z   0.293035  0.346039  0.159089
v   0.250215  0.417211  0.182017
u   0.998206  0.521716  0.821056
o2       NaN       NaN       NaN
o4       NaN       NaN       NaN

In [54]:
df1.fillna(0)

           A         B         C
x   0.132992  0.426586  0.410334
y   0.857315  0.824847  0.550414
z   0.293035  0.346039  0.159089
v   0.250215  0.417211  0.182017
u   0.998206  0.521716  0.821056
o2  0.000000  0.000000  0.000000
o4  0.000000  0.000000  0.000000